<div class="list" ng-controller='SettingsController'>		
    <div class = "column title">
    Settings
        <div class ="subtitle">
        set your backend URL
        <br>(example: http://www.uiucwp.com:4000)
        </div>
        
	<form>
	  <div class="row">
          <div class="small-12 columns">
            <input ng-model="url" type="text" placeholder="URL">
          </div>
      </div>

    <div class="text-center">
      <button ng-click="setUrl()" class="button tiny info">Set URL</button>
    </div>

    {{displayText}}

  </form>
</div>