<div class ="medium-8 small-centered">

    <div class="text-center">
        <div class="left title">Task Details</div>
        <button ng-click="editTask()" class="button success">Edit Task</button>
    </div>


        <div class="text-center columns small-centered" >
          
        <div class="row">
              <hr>
            <div class="lside columns medium-6">
                <div class ="subtitle2"> Task Name :</div>
                <div ng-bind="task.name"></div>
            </div>
              <div class="rside columns medium-6">
                <div class ="subtitle2"> Assigned User :</div>
                <div ng-bind="task.assignedUserName"></div>
            </div>
             
        </div> 
            
        <div class="row">
            <div  class="lside columns medium-6">
                <div class ="subtitle2"> Completed :</div>
                <div ng-bind="task.completed"></div>
         
                <button ng-click="ChangeStatus()" class="button">Change status</button>
                <div id ="hide"> Status Changed, please refresh</div>
            </div>
            <div class="rside columns medium-6">
                <div class ="subtitle2"> Deadline :</div>
                <div ng-bind="task.deadline | date"></div>
            </div>
            </div> 
            
        </div> 
            
    <hr>
        </div>
    
      
    