
    <div class="text-center">
        <div class="left title">Task Details</div>
        <button ng-click="editTask()" class="button success">Edit Task</button>
    </div>

<div class="row">
        <div class="text-center columns small-centered">
            <div class="title lside">User Profile</div>
        </div>
    </div>

    
        <div class="text-center columns small-centered" >
            <div class ="lside title"> Tasks</div>
            
            <hr>
        </div>
  

    <div class="row">
        <div class="text-center columns small-centered" >
            <button ng-click="()" class="button">Compelete</button>
        </div>
   
       
            
    </div>
  <div class="row">
        <div class="text-center columns small-centered" >
            <button ng-click="()" class="button">Compelete</button>
        </div>
   
       
            
    </div>
        
    