<div class ="medium-8 small-centered">
<div>
    <div class="row text-center">
        <div class="text-center columns small-centered ">
            <h3 class="">Tasks:</h3>
            <button ng-click="addTask()" class="button success ">Add Task</button>
        </div>
    </div>
    <div class="" ng-model="query">
        <div class="columns small-centered  small-6">
            <input type="radio" ng-click="updateQuery()" name="option" ng-model="option" value="pending"><label>Pending</label>
            <input type="radio" ng-click="updateQuery()" name="option" ng-model="option" value="completed"><label>Completed</label>
            <input type="radio" ng-click="updateQuery()" name="option" ng-model="option" value="all"><label>All</label>
        </div>

        
              
        <div class="columns small-centered small-4">
            <select  ng-model="sortBy" >
                <option value="name">Name</option>
                <option value="deadline">Deadline</option>
                <option value="dateCreated">Date Created</option>
                <option value="username">Username</option>
            </select>
        </div>
        
<!--
        <div class="columns small-centered  small-3 ">
            <select  ng-model="sortBy" >
                <option value="name">name</option>
                <option value="deadline">deadline</option>
                <option value="assignedUserName">assignedUserName</option>
            </select>
        </div>
-->

<div class="columns small-centered small-3">
            <input  ng-click="updateQuery()" type="radio" name="rank" ng-model="rank" value="1"><label>Ascending</label>
            <input  ng-click="updateQuery()" type="radio" name="rank" ng-model="rank" value="-1"><label>Descending</label>
        </div>

    

<div class="columns small-centered  small-10 ">      
<dir-pagination-controls 
    max-size="10"
    direction-links="true"
    boundary-links="true"
    auto-hide="false"
    >
    </dir-pagination-controls>
</div>




    <form>


            <div class="column small-centered" >
                
       
                <hr>
                <ol class=" small-block-grid-1 block-height" >
                    <li dir-paginate="task in tasks |itemsPerPage:10" id="{{task._id}}">
                        <div class="lside columns small-12">
                            <a ng-click="onetask(task._id)" >
                                <div style="color:brown" ng-bind="task.name"></div>
                            </a>
                          
                        </div>
                        <div class="column small-6 lside" >
                            <div>Deadline:</div>
                            <div ng-bind="task.deadline | date"></div>
                            <div>Assigned to</div>
                            <div ng-bind="task.assignedUserName"></div>
                        </div>
                        <div>
                        <div class="column small-6 rside" >
                            
                        
                        <div class="rside columns small-12">
                            <button ng-click="delete(task._id,task.assignedUser)" class="button  alert">Delete</button>
                        </div>
                        </div>
                       </div>
                        <hr>
                    </li>
                </ol>
           
        </div>
    </form>
</div>
    </div>    